$nav_height: 65px;


.full {
	margin-left:-15px; 
	width:calc(100% + 30px);
	max-width:calc(100% + 30px);
}

ul.items {
	list-style:none;
	padding:0;

}


body {
	color:#333;
	header {
		#branding {
			box-shadow:$shadow1;
			background:#fff;
			//position:fixed;
			//top:0;
			//left:0;
			width:100%;
			padding:15px 7px;
			//height:60px;
			h1 {
				margin:0;
			}
		}
		nav {
			background:#fff;
			box-shadow:$shadow1;
			position:fixed;
			bottom:0;
			left:0;
			width:100%;
			height: $nav_height;
			display:flex;
			a.nav-page {
				text-decoration:none;
				display:block;
				background:#fff;
				padding:20px;
				border-right:solid 1px #eee;
				fill:$black;
				display:flex;
				align-items:center;
				p.nav-page-title {
					display:none;
				}	
			}		
		}
	}
	#base {
		position:fixed;
		top:0;
		left:0;
		z-index:-1;
		div.base-image {
			width:100vw;
			height:100vh;
		}
	}
	main {
		margin:0 15px;
		padding-bottom:$nav_height;  
	}
}



body#writing, body#design {
	main {
		background:#fff;
		padding:30px;
		margin-left:-15px;
		width:calc(100% + 15px);
		margin-top:40vh;
		box-shadow: $shadow1;
	}
}

