$nav_height: 50px;
$brand: 'Cormorant Garamond', $serif;
$serif: 'EB Garamond', $serif;
$sans-serif: 'Josefin Sans', sans-serif;

$color1:#444;
$color1-light:lighten($color1, 30%);
$color1-lightest:lighten($color1, 50%);

.full {
	margin-left:-15px; 
	width:calc(100% + 30px);
	max-width:calc(100% + 30px);
}

ul.items {
	list-style:none;
	padding:0;
	
}

.item {
		display:grid;
		margin-bottom:20px;
		img {	
			width:calc(100% - 15px);
		}
		.item-text {
			margin-top:-40px;
			background:#fff;
			margin-right:40px;
			padding-top:20px;
			padding-left:15px;
			padding-right:10px;
			margin-left:0;
			margin-bottom:40px;			
		}
	}



h4.item-kicker {
	margin-bottom:5px;
}
h3.item-title {
	font-size:1.5rem;
	line-height:1.25;
	margin-bottom:5px;
}
small[class*=item] {
	display:inline-block;
	margin-bottom:5px;
	color:$color1-light;
}
small.item-client {
	font-style:italic;
}
p {
	margin-bottom:10px;
}

.item-content {
	border-top:solid 1px #eee;
	padding-top:20px;
	img {
		margin-bottom:2px;
	}
}

body[class*=single] {
	main {
		section#page-intro {
			margin-bottom:15px !important;
		}
	}
}


ul.tags {
	margin-bottom:25px;
	margin-top:5px;
	li.tag {
		font-family:$sans-serif;
		font-weight:400;
		font-size:.8rem;
		background:$color1-light;
	}
}

html {
	font-size:18px;
}

body {
	color:$color1;
	font-family:$serif;
	font-weight:400;
	line-height:1.5;
	p {
		margin-bottom:1.5rem;
	}
	h1, h2, h3 {
		font-family:$sans-serif;
	}
	header {
		#branding {
			box-shadow:$shadow1;
			background:#fff;
			position:fixed;
			top:0;
			left:0;
			width:100%;
			padding:15px 7px;
			//height:60px;
			h1 {
				margin:0;
				font-family:$brand;
				font-weight:700;
				text-align:center;
				font-size:1.75rem;
			}
		}
		nav {
			background:#fff;
			box-shadow:$shadow1;
			position:fixed;
			z-index:4;
			bottom:0;
			left:0;
			width:100%;
			height: $nav_height;
			display:flex;
			a.nav-page {
				text-decoration:none;
				display:block;
				background:#fff;
				padding:20px;
				border-right:solid 1px #eee;
				fill:$color1-lightest;
				display:flex;
				align-items:center;
				justify-content:center;
				svg {
					width:80%;
				}
				p.nav-page-title {
					display:none;
				}	
				&.active {
					fill:$color1;
				}
			}		
		}
	}
	#base {
		position:fixed;
		top:0;
		left:0;
		z-index:-1;
		div.base-image {
			width:100vw;
			height:100vh;
		}
	}
	main {
		margin:0 15px;
		padding-bottom:$nav_height;  
	}
	main > * {
		max-width: 1000px;
		@media (min-width: 800px) {
			margin: 0 auto;
		}
	}
}


body#home {
	header {
		nav {
			a.nav-page {
				fill: $color1;
			}

		}
	}
}

body.internal {
	main {
		background:#fff;
		padding-left:30px;
		padding-right:15px;
		padding-top:20px;
		padding-bottom:30px;
		margin-left:-15px;
		width:calc(100% + 15px);
		margin-top:60vh;
		box-shadow: $shadow1;
		#base {
			.base-image {
				height:60vh;
			}
		}
		section#page-intro {
			margin-bottom:30px;
			h2 {
				font-size:1.25rem;
				font-weight:300;
				color:$color1-light;
				margin-bottom:2px;
			}
			p:first-of-type {
				font-size:1.75rem;
				line-height:1.25;
				font-weight:500;
			}
		}
	}
}

