---
layout: default
---


<div id="base">
{% assign items = site.design %}
{% for item in items %}
	{% if item.show_on_home == true %}
		<div class="base-image" style="background:url('{{ site.url }}/{{ item.img }}'); background-size:{{ item.img-background_size }}; background-position:{{ item.img-background_position }};"></div>
	{% endif %}
{% endfor %}
{% assign items = site.writing %}
{% for item in items %}
	{% if item.show_on_home == true %}
		<div class="base-image" style="background:url('{{ site.url }}/{{ item.img }}'); background-size:{{ item.img-background_size }}; background-position:{{ item.img-background_position }};"></div>
	{% endif %}
{% endfor %}
</div>


	{{ content }}

