---
layout: default
---


<section id="page-intro" class="contain">
	<h2>{{ page.title }}</h2>
	{{ content }}
</section>	
<section id="page-portfolio" class="contain">
	<ul class="items">
	{% assign items = site.design | sort: 'pubdate' %}
	{% for item in items reversed %}
		<li class="item">
			<a href="{{ item.url }}"><img src="{{ site.url }}/{{ item.img }}" alt=""></a>
			<div class="item-text">
				<h4 class="item-kicker">{{ item.type }}</h4>
				<h3 class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></h3>
				<small class="item-client">{{ item.client }} &nbsp;&bull;&nbsp;</small>
				<small class="item-pubdate">{{ item.pubdate | date: "%B %Y" }}</small>
				<p class="item-teaser">{{ item.teaser }}</p>				
			</div>
		</li>
	{% endfor %}
	</ul>
</section>
