---
layout: default
---

<h2>{{ page.title }}</h2>
	{{ content }}

<ul>
{% assign items = site.writing | sort: 'pubdate' %}
{% for item in items reversed %}
	<li class="item">
		<h4 class="item-kicker">{{ item.type }}</h4>
		<h3 class="item-title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
		<small class="item-client">{{ item.client }} &nbsp;&bull;&nbsp;</small>
		<small class="item-pubdate">{{ item.pubdate | date: "%B %d %Y" }}</small>
		<p class="item-teaser">{{ item.teaser }}</p>
	</li>
{% endfor %}
</ul>