---
layout: default
---
<div id="base">
	<div class="base-image" style="background:url('{{ site.url }}/{{ page.img }}'); background-size:{{ page.img-background_size }}; background-position:{{ page.img-background_position }};"></div>
</div>

<section id="page-intro" class="contain">
	<h2>{{ page.title }}</h2>
	{{ content }}
</section>
<section id="page-portfolio" class="contain">
	<ul class="items">
	{% assign items = site.writing | where: "featured", true | sort: 'pubdate'  %}
	{% assign halfItems = items.size | divided_by: 2.0 | floor %}
		<div class="col" id="col1">
		{% for item in items reversed offset: halfItems %}
			<li class="item">
				<img src="{{ site.url }}/{{ item.img }}" alt="{{ item.title }}">
				<div class="item-text">
					<h4 class="item-kicker">{{ item.type }}</h4>
					<h3 class="item-title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
					<small class="item-client">{{ item.client }}</small>
					<small class="item-bull">&nbsp;&bull;&nbsp;</small>
					<small class="item-pubdate">{{ item.pubdate | date: "%b. %-d, %Y" }}</small>
					<p class="item-teaser">{{ item.teaser }}</p>
				</div>
			</li>
		{% endfor %}
		</div>
		<div class="col" id="col2">
		{% for item in items reversed limit: halfItems %}
			<li class="item">
				<img src="{{ site.url }}/{{ item.img }}" alt="{{ item.title }}">
				<div class="item-text">
					<h4 class="item-kicker">{{ item.type }}</h4>
					<h3 class="item-title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
					<small class="item-client">{{ item.client }}</small>
					<small class="item-bull">&nbsp;&bull;&nbsp;</small>
					<small class="item-pubdate">{{ item.pubdate | date: "%b. %-d, %Y" }}</small>
					<p class="item-teaser">{{ item.teaser }}</p>
				</div>
			</li>
		{% endfor %}
		</div>
	</ul>
</section>