<!DOCTYPE html>
<html>
	{% include head.html %}
	<body id="{% if page.title %}{{ page.title | downcase | replace: ' ', '_' }}{% else %}home{% endif %}" class="{% if page.title %}internal{% endif %}{% if page.collection %} single-{{ page.collection }} {% endif %} resume" >
		{% include header.html %}
		<main>
			<div id="base">
				<div class="base-image" style="background:url('{{ site.url }}/{{ page.img }}'); background-size:{{ page.img-background_size }}; background-position:{{ page.img-background_position }};"></div>
			</div>
			<section id="intro" class="contain">
				<h2>{{ page.title }}</h2>
				<h3>{{ site.title }}</h3> 
				<p>{{ site.description | remove: "My name is David J. Unger, and " }}</p>
				{% unless page.hidden contains 'phone' %}<small id="phone">{{ site.phone }}</small>{% endunless %}
				<small id="email">{{ site.email }}</small>
				<small>{{ site.url | remove: "http://" }}</small>
			</section>
			<section id="work" class="contain">
				<h2>Work</h2>
				<ul id="jobs">
				{% for item in site.data.work %}
					<li class="job" id="{{ item.employer | slugify}}">
						<div class="job-details">
							<h3 class="job-employer">
								{{ item.employer }}
								{% if item.division %}
									<span class="job-division">{{ item.division }}</span>
								{% endif %}
							</h3>

							<small class="job-dates">{{ item.start | date: "%b. %Y" }} - {{ item.end | date: "%b. %Y" }}{% if item.start2 %}; {{ item.start2 | date: "%b. %Y" }} - {{ item.end2 | date: "%b. %Y" }}{% endif %}</small>
							<small class="job-location">{{ item.location }}</small>
								
						</div>						
						<ul class="job-positions">
						{% for subitem in item.positions %}
							<li class="job-position" id="{{ subitem.title | slugify }}">
								<small class="job-position-title">{{ subitem.title }} {% if subitem.start %}<span class="job-position-title-dates">({{ subitem.start | date: "%b. %Y" }} - {{ subitem.end | date: "%b. %Y" }})</span>{% endif %}</small>
								
								<ul class="job-position-notes">
								{% for subsubitem in subitem.notes %}
									<li class="job-position-note">{{ subsubitem }}</li>
								{% endfor %}
								</ul>
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</section>
			
			<section id="education" class="contain">
				<h2>Education</h2>
				<ul>
				{% for item in site.data.education %}
					<li class="school" id="{{ item.school | slugify }}">
						<h3>{{ item.school }}</h3>
						<small class="degree">{{ item.degree-short }}</small>, 
						<small class="dates">{{ item.start | date: "%Y"}} - {{ item.end | date: "%Y"}}</small>
					</li>
				{% endfor %}
				</ul>
			</section>
			<section id="awards" class="contain">
				<h2>Awards</h2>
				<ul>
				{% assign items = site.writing | sort: 'pubdate' %}
				{% for item in items reversed %}
					{% if item.awards %}
						{% for subitem in item.awards %}
						<li class="award" id="{{ subitem.title | slugify }}">
							<h3>{{ subitem.title }}</h3> 
							<small>for "{{ item.title }}" in <em>{{ item.client }}</em> ({{ subitem.date | date: "%Y" }})</small>
						</li>
						{% endfor %}
					{% endif %}
				{% endfor %}
				</ul>
			</section>
			<section id="misc" class="contain">
				<h2>Misc.</h2>
				<p><strong>Core strengths</strong>: Writing, editing, design, code</p>
				<p><strong>Digital skills</strong>: HTML, CSS, JavaScript, Jekyll, WordPress, MailChimp, InDesign, Photoshop, Illustrator</p>
				<p><strong>Languages</strong>: Native English, working Spanish</p>
			</section>
		</main>
	</body>
</html>