<!DOCTYPE html>
<html>
	{% include head.html %}
	<body id="{% if page.title %}{{ page.title | downcase | replace: ' ', '_' }}{% else %}home{% endif %}" class="{% if page.title %}internal{% endif %}{% if page.collection %} single-{{ page.collection }} {% endif %}" >
		{% include header.html %}
		<main>
			<div id="base">
				<div class="base-image" style="background:url('{{ site.url }}/{{ page.img }}'); background-size:{{ page.img-background_size }}; background-position:{{ page.img-background_position }};"></div>
			</div>
			<section id="intro">
				<h1>{{ site.title }}</h1> 
				<p>{{ site.description }}</p>
				{% unless page.hidden contains 'phone' %}<small id="phone">{{ site.phone }}</small>{% endunless %}
				<small id="email">{{ site.email }}</small>
				<small>{{ site.url | remove: "http://" }}</small>
			</section>
			<section id="work">
				<h2>Work</h2>
				<ul id="jobs">
				{% for item in site.data.work %}
					<li class="job" id="{{ item.employer | slugify}}">
						<div class="job-details">
							<h3 class="job-employer">{{ item.employer }}</h3>
							<small class="job-location">{{ item.location }}</small>
							<small class="job-dates">{{ item.start }} - {{ item.end }}</small>	
						</div>						
						<ul class="job-positions">
						{% for subitem in item.positions %}
							<li class="job-position" id="{{ subitem.title | slugify }}">
								<h4 class="job-position-title">{{ subitem.title }}</h4>
								<small class="job-position-title-dates">({{ subitem.start }} - {{ subitem.end }})</small>
								<ul class="job-position-notes">
								{% for subsubitem in subitem.notes %}
									<li class="job-position-note">{{ subsubitem }}</li>
								{% endfor %}
								</ul>
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</section>
			
			<section id="education">
				<h2>Education</h2>
				<ul>
				{% for item in site.data.education %}
					<li class="school" id="{{ item.school | slugify }}"><strong>{{ item.school }}</strong>, {{ item.degree-short }}, {{ item.start | date: "%Y"}} - {{ item.end | date: "%Y"}}</li>
				{% endfor %}
				</ul>
			</section>
			<section id="awards">
				<h2>Awards</h2>
				<ul>
				{% assign items = site.writing | sort: 'pubdate' %}
				{% for item in items reversed %}
					{% if item.awards %}
						{% for subitem in item.awards %}
						<li class="award" id="{{ subitem.title | slugify }}"><strong>{{ subitem.title }}</strong> for "{{ item.title }}" in <em>{{ item.client }}</em> ({{ subitem.date | date: "%Y" }})</li>
						{% endfor %}
					{% endif %}
				{% endfor %}
				</ul>
			</section>
		</main>
	</body>
</html>